*.py linguist-language=Python
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
*.txt linguist-language=Text

docs/* linguist-documentation
vendor/* linguist-vendored
*.generated.* linguist-generated
